body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Averia Sans Libre', cursive;
	background-color: #FCF0E2;
}

a {
	color: black;
}

/* Menu CSS */ 

#pusheen-page {
	width: 100%;
	height: 100%;
	text-align: center;
}

#pusheen-title {
	font-size: 48px;
}

#pusheen-container {
	text-align: center;
}

.pusheen-picture {
	display: inline-block;
	width: 300px;
}

.pusheen-caption {
	display: block;
	width: 50%;
	margin: 0 auto;
	font-size: 18px;
}

.back-container {
	display: inline-block;
}

.back-caption {
	display: block;
	font-weight: bold;
}
